.compost-request-container {
    display: flex;

    min-height: 100vh;
    width: 100%;
    padding: 120px;
}

.row.pt-4 {
    align-items: center;
}

.how-to {
    flex: 1;
    text-align: end;
    justify-content: space-between;
    gap: 20px;
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
    padding: 2rem 5rem 5rem 3rem;
}