.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 0;
    min-height: 100vh;


}

.user-profile-layout {
    display: flex;
    flex-direction: column;
}


/* contenedor de perfil */

.profile-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    max-width: 100%;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;

}

.profile-container .main-panel {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-right: 0 !important;
    margin-top: 0 !important;
    position: relative;
}

.profile-container .main-panel .avatar-panel {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

.profile-container .main-panel .avatar-panel .user-avatar {
    position: relative;
    width: 120px;
}

.avatar img {
    border-radius: 100%;
    height: 100%;
    transition: .2s;
    width: 100%;
}

.profile-container .main-panel .avatar-panel .user-avatar:after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.profile-container .main-panel .avatar-panel .user-links {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.profile-container .main-panel .avatar-panel .user-links .title {
    align-items: center;
    display: flex;
    margin: 7.5px;
}

.profile-container .main-panel .avatar-panel .user-links .title .user-nickname {
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    color: #6BA2A9;
}

.profile-container .main-panel .avatar-panel .user-links .ig-profile-info-date {
    color: #0C7078;
    margin: 7.5px;
}


/* tabs de usuario */

.profile-container .user-profile-tabs .fa-solid.fa-chevron-right {
    margin-top: 2px;
    color: #6BA2A9;
}

.profile-container .user-profile-tabs {
    box-shadow: 0 1px 0 0 #a7564470;
    display: flex;
    justify-content: space-between;
    width: auto;
}


.profile-container .user-profile-tabs li {
    align-items: center;
    cursor: pointer;
    display: flex;
    position: relative;
}


.profile-container .user-profile-tabs li a.active {
    color: #a75644;
    box-shadow: 0 5px 0 0 #a75644;

}


.profile-container .user-profile-tabs li a {
    align-items: center;
    font-weight: 700;
    padding: 0 15px 20px;
    white-space: nowrap;
    color: #6BA2A9;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
}


.profile-container .user-profile-tabs li a:hover {
    color: #a75644;
}

/* tabs de settings de usuario */

.user-profile-settings ul {
    display: none;
}

.user-profile-settings {
    display: flex;

    .user-profile-settings-tabs.active {
        border-right: 1px solid #a7564470;
        display: flex;
        flex-direction: column;
    }
}



.user-profile-settings .user-profile-settings-tabs li {
    margin: 15px;
    position: relative;


}

.user-profile-settings .user-profile-settings-tabs li a {
    align-items: center;
    display: flex;
    overflow: hidden;
    font-weight: 700;
    padding: 1rem 1rem 4rem 1rem;
    white-space: nowrap;
    color: #6BA2A9;
    text-decoration: none;
    font-size: 1.2rem;
    text-align: left;
}

.user-profile-settings .user-profile-settings-tabs li a:hover {
    color: #a75644;

    .lines .title {
        color: #a75644;
    }
}

.user-profile-settings .user-profile-settings-tabs li a.active {
    color: #a75644;

    .lines .title {
        color: #a75644;
    }
}

.user-profile-settings .user-profile-settings-tabs li a .lines {
    padding: 1rem;
    margin-right: 20px;
    width: 100%;
}



.user-profile-settings .user-profile-settings-tabs li a .lines .title {
    color: #6BA2A9;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 3px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

.user-profile-settings .user-profile-settings-tabs li a .lines span:not(.title) {
    color: #0C7078;
}

.separator {
    height: 60px;
}



/* contenido de settings content */


.avatar {
    background-size: 100%;
    display: flex;
}

.settings-content {
    display: flex;
    padding: 1rem;
}

.faq {
    display: flex;
}

.user-profile-settings .settings-content .tab-content-settings {

    /*Registro y cuenta de usuario*/

    .register-FAQ.active {
        display: flex;
        flex-direction: column;

        .tab-content-point {
            padding: 2rem;
            color: white;
            text-align: start;
            font-size: 1.6rem;
            line-height: 2;
        }

        .tab-content-question {
            padding: 0rem 0rem 1rem 2rem;
            line-height: 1.2;
        }
    }

    .register-FAQ {
        display: none;
    }

    /*Servicios de recolección*/

    .collect-service-FAQ.active {
        display: flex;
        flex-direction: column;

        .tab-content-point {
            padding: 2rem;
            color: white;
            text-align: start;
            font-size: 1.6rem;
            line-height: 2;
        }

        .tab-content-question {
            padding: 0rem 0rem 1rem 2rem;
            line-height: 1.2;
        }
    }

    .collect-service-FAQ {
        display: none;
    }

    /*Información sobre la composta*/

    .info-FAQ.active {
        display: flex;
        flex-direction: column;

        .tab-content-point {
            padding: 2rem;
            color: white;
            text-align: start;
            font-size: 1.6rem;
            line-height: 2;
        }

        .tab-content-question {
            padding: 0rem 0rem 1rem 2rem;
            line-height: 1.2;
        }
    }

    .info-FAQ {
        display: none;
    }

    /*Pagos y Facturación*/
    .payment-FAQ.active {
        display: flex;
        flex-direction: column;

        .tab-content-point {
            padding: 2rem;
            color: white;
            text-align: start;
            font-size: 1.6rem;
            line-height: 2;
        }

        .tab-content-question {
            padding: 0rem 0rem 1rem 2rem;
            line-height: 1.2;
        }
    }

    .payment-FAQ {
        display: none;
    }
}

@media screen and (max-width: 1300px) {
    .faq {
        flex-direction: column;
    }

    .user-profile-settings .user-profile-settings-tabs.active {
        border-right: none;
        display: flex;

        li {
            margin: 0;

            a {
                padding: 0.2rem;
                text-align: center;

                .lines {
                    margin-right: 0;
                    padding: 0.5rem;
                }

                .fa-solid.fa-chevron-right {
                    display: none;
                }

            }
        }
    }
}



.user-profile-settings {
    position: relative;
    /* Establecer la posición relativa para los elementos absolutos dentro de él */
}

.collect-record-tabs.active {
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.compost-request-history {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 1.5rem 1rem 1rem 2rem;
    margin-top: 100px;
    min-width: 90%;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    padding-top: 100px;
}

.custom-table th,
.custom-table td {

    padding: 8px;
    border: 1px solid white;
    color: white;
}

.custom-table th {
    background-color: black;
}

.custom-table tbody tr:nth-child(even) {
    background-color: #333;
}

.custom-table tbody tr:nth-child(odd) {
    background-color: #444;
}

.table-title {
    position: absolute;
    top: -30px;
    /* Mover el título hacia abajo */
    left: 0;
    width: 100%;
    color: white;
    font-size: 24px;
    background-color: black;
    padding: 10px;
    margin: 0;
    text-align: center;
    /* Centrar el título */
}

/*contenido historial de recolectas*/
.history-container {
    color: white;
    min-width: 100%;
    font-size: 1.3rem;
    gap: 40px;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1rem 1rem;
}

.history-container-title {
    display: flex;

    .h5 {
        font-size: 4rem;
        flex: 1;
        text-align: start;
        padding: 1rem;
    }

    .history-container-title-bttn {
        display: block;
        max-width: 300px;
        align-self: center;
        background: #ffffff;
        color: #a75644;
    }

    .history-container-title-bttn:hover {
        background: #a75644;
        color: white;
    }
}

.history-container-list {


    div {
        div {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 1rem;

            .history-card {
                display: flex;
                flex-direction: row;
                background: #0C707860;
                border-radius: 16px;
                gap: 30px;

                .h5 {
                    align-self: center;
                    text-align: start;
                    padding: 1rem;
                    width: 70%;
                }

                p {
                    align-self: center;
                    width: 10%;
                }

                .ms-auto {
                    width: 20%;
                    gap: 10px;

                    button {
                        display: block;
                        height: 45%;
                    }
                }
            }
        }
    }
}