.card {
    background-color: #25685D;
    padding: 50px 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: min-height 0.3s ease;
    min-width: 450px;
}

.form-control {
    margin-bottom: 15px;
    padding: 1rem;
    width: 60%;

}

.btn {
    background-color: #072E33;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
}

.btn:hover {
    background-color: #6BA2A9;
    color: #072E33;
}

.btn:disabled {
    background-color: #007bff;
    opacity: 0.6;
    cursor: not-allowed;
}

.error {
    color: #d42929;
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 10px;
}

.price {
    font-size: 16px;
    margin-bottom: 15px;
    color: white;
}